/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
#root {
  --Orange-120: #E87928;
  --Orange-100: #FF8B37;
  --Green-100: #47D867;
  --Red-100: #EC6259;
  --Black-100: #1C1C21;
  --Black-40: #D0D0D8;
  --Orange-80: #FFAC70;
  --Orange-5: #FFF3EB;
  --Green-5: #E6FAEA;
  --Red-5: #FDEEED;
  --Black-5: #F5F5F7;
  --White-100: #FFFFFF;
  --Background: #E5E5E5;
}

* {
  margin: 0px;
  font-family: "Inter", sans-serif;
}

/* || WELCOME AND END GAME SCREENS */
.welcome-screen {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right bottom, var(--White-100) 50%, var(--Orange-5) 50.3%);
}

.welcome-screen__image {
  max-height: 30vh;
  margin-top: 10vh;
}

.welcome-screen__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.welcome-screen__title {
  margin-top: 12vh;
  margin-bottom: 20vh;
  margin-right: 2vw;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

h1 span {
  display: block;
}

.welcome-screen__button {
  margin-bottom: 5rem;
  margin-top: 3rem;
  padding: 1rem 2rem;
  background-color: var(--Orange-100);
  border: none;
  border-radius: 8px;
  color: var(--White-100);
  cursor: pointer;
  font-size: 14px;
  line-height: 116%;
  min-width: 90vw;
  min-height: 4rem;
  font-weight: 600;
  font-family: 'Inter';
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}

.welcome-screen__button:hover {
  background-color: var(--Orange-80);
}

.welcome-screen__button:focus,
.welcome-screen__button:active {
  background-color: var(--Orange-120);
  background-image: '../images/Selected.svg'
}

/* || GAME */

/* Menu toggle icon styles */
.menu {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 1rem;
  top: 1rem;
  background-repeat: no-repeat;
  transition: background-color 0.2s ease-in-out;
  z-index: 999;
}

.menu:hover {
  transform: rotate(2deg);
}

.game {
  height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  background-color: var(--Black-5);
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.game__qa--wrapper {
  display: flex;
  flex-direction:column;
  align-items: center;
}

.game__question {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  text-align:center;
  margin-left: 4vw;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}

.game__answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.game__answer {
  display: flex;
  height:auto;
  color: var(--Black-100);
  cursor: pointer;
  font-weight: 400;
  margin: 8px;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.game__answer--text {
  text-align: center;
  position: absolute;
  margin: auto;
  justify-content: center;
  width: auto;
}

.game__answer h5 {
  font-size: 1.2rem;
  text-indent: 50px;
  font-weight: 600;
  color: var(--Orange-100);
}

.game__answer p {
  margin-left: 70px;
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--Black-100);
  text-align: left;
}

.game__answer:active, .game__answer:focus, .game__answer:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* || FINAL SCREEN */

.final-screen__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.final-screen__text {
  color: var(--Black-100);
  font-weight: 600;
  font-size: 32px;
  line-height: 116%;
  opacity: 0.5;
  margin-bottom: 1rem;
  margin-top: 11rem;
}

.final-screen__title {
  margin-bottom: 4rem;
  margin-right: 2vw;
  font-size: 3rem;
  font-weight: 600;
}

/* || BIGGER SCREENS GO FURTHER, FOLLOWED BY RULES FOR MOBILE ONLY */

@media only screen and (min-width: 768px) {

  .welcome-screen {
    flex-direction: row;
    justify-content: space-around;
  }

  .welcome-screen__image {
    max-height: 32vh;
    margin-top: 2vh;
  }

  .welcome-screen__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: 17%;
  }

  .welcome-screen__title {
    font-size: 2.5rem;
    margin-bottom: 3vh;
    margin-right: 5vw;
    text-align: left;
  }

  .welcome-screen__button {
    margin-bottom: 5rem;
    font-size: 14px;
    line-height: 116%;
    min-width: 26vw;
    min-height: 3rem;
  }

  .game__qa--wrapper {
    align-items: flex-start;
  }

  .game__answers {
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 1fr;
    width: 64%;
    align-items: center;
    margin-top: 18%;
  }

  .game__answer {
    display: flex;
    font-size: 1rem;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 35px;
  }
  
  .game__answer img {
    width: inherit;
    object-fit: contain;
  }

  .final-screen__container {
    margin-right: 20%;
    align-items: left;
    align-items: flex-start;
  }
  
  .final-screen__text {
    margin-bottom: 1rem;

  }

  .final-screen__title {
    font-size: 2.5rem;
    margin-bottom: 3vh;
  }
}

@media only screen and (min-width: 992px) {

  .welcome-screen__image {
    max-height: 38vh;
    margin-right: 2rem;
  }

  .welcome-screen__container {
    min-width: 30vh;
    justify-content: space-around;
  }

}

/* || ONLY FOR MOBILE SCREENS*/

@media only screen and (max-width: 768px) {

  .game__answer::before,
  .game__answer::after {
    content: '';
    position: absolute;
    top: 49%;
    height: 1px;
    border-top: 1px solid var(--Black-40);
  }

  .game__answer::before {
    left: -100%;
    width: 100%;
  }

  .game__answer::after {
    right: -200%;
    width: 200%;
  }
}
