@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;600&display=swap');

#root {
  --Orange-120: #E87928;
  --Orange-100: #FF8B37;
  --Green-100: #47D867;
  --Red-100: #EC6259;
  --Black-100: #1C1C21;
  --Black-40: #D0D0D8;
  --Orange-80: #FFAC70;
  --Orange-5: #FFF3EB;
  --Green-5: #E6FAEA;
  --Red-5: #FDEEED;
  --Black-5: #F5F5F7;
  --White-100: #FFFFFF;
  --Background: #E5E5E5;
}

* {
  margin: 0px;
  font-family: "Inter", sans-serif;
}

/* || WELCOME AND END GAME SCREENS */
.welcome-screen {
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right bottom, var(--White-100) 50%, var(--Orange-5) 50.3%);
}

.welcome-screen__image {
  max-height: 30vh;
  margin-top: 10vh;
}

.welcome-screen__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.welcome-screen__title {
  margin-top: 12vh;
  margin-bottom: 20vh;
  margin-right: 2vw;
  font-size: 40px;
  font-weight: 600;
}

h1 span {
  display: block;
}

.welcome-screen__button {
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  background-color: var(--Orange-100);
  border: none;
  border-radius: 8px;
  color: var(--White-100);
  cursor: pointer;
  font-size: 14px;
  line-height: 116%;
  min-width: 90vw;
  min-height: 4rem;
  font-weight: 600;
  font-family: 'Inter';
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}

.welcome-screen__button:hover {
  background-color: var(--Orange-80);
}

.welcome-screen__button:focus,
.welcome-screen__button:active {
  background-color: var(--Orange-120);
  background-image: '../images/Selected.svg'
}

/* || GAME */

/* Menu toggle icon styles */
.menu {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 1rem;
  top: 1rem;
  background-repeat: no-repeat;
  transition: background-color 0.2s ease-in-out;
  z-index: 999;
}

.menu:hover {
  background-color: var(--Black-40);
  transform: rotate(2deg);
}

.game {
  height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  background-color: var(--Black-5);
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.game__question {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  margin-bottom: 10vh;
  margin-top: 16vh;
  margin-right: 2vw;
  font-size: 18px;
  font-weight: 600;
}

.game__answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 2rem;
}

.game__answer {
  width: 320px;
  height: 57px;
  font-size: 1rem;
  color: var(--Black-100);
  cursor: pointer;
  font-weight: 400;
  text-align: left;
  margin: 12px;
  display: flex;
  align-items: center;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
}

.game__answer h5 {
  font-size: 16px;
  text-indent: -200px;
  font-weight: 600;
  color: var(--Orange-100);
}

.game__answer p {
  text-indent: .5em;
  font-weight: 400;
  color: var(--Black-100);
}

.game__answer--text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
}

.game__answer::active, .game__answer::focus {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  top: 1px;
}

.final-screen__text{
  color: var(--Black-100);
  font-weight: 600;
  font-size: 32px;
  line-height: 116%;
  opacity: 0.5;
}




/* || BIGGER SCREENS GO FURTHER */

@media only screen and (min-width: 768px) {

  .game {
    display: flex;
  }
  .menu {
    flex: 0 0 25%;
  }
  .question {
    flex: 1;
  }


  .welcome-screen {
    flex-direction: row;
    justify-content: space-around;
  }

  .welcome-screen__image {
    max-height: 32vh;
    margin-top: 2vh;
  }

  .welcome-screen__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .welcome-screen__title {

    font-size: 40px;
    margin-top: 8vh;
    margin-bottom: 7vh;
    margin-right: 5vw;
  }

  .welcome-screen__button {
    margin-bottom: 1rem;
    font-size: 14px;
    line-height: 116%;
    min-width: 26vw;
    min-height: 3rem;
  }

  /* .game__answer:focus {
    background-color: #f5a623;
    color: #fff;
  } */

 /*  .game__answer {
    width: 640px;
    height: 113px;
  } */

 /*  .game__answers {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 20px;
    grid-template-rows: 100px 100px;
    grid-template-columns: 422px 422px;
    padding: 10px;
  }
  .game__answer {
    padding: 20px;
  } */

  .game__answers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80px;
    width: 200px;
    align-content: flex-start;
  }
  .game__answer {
    flex: 0 0 300px;
    width: 200px;
    padding: 2px;
    margin-bottom: 10px;
  }
 /*
  .progress-bar {
    background-color: var(--White-100)
  }
  .game__answer::before,
  .game__answer::after {
    top: 49.4%;
    border-top: 2px solid var(--Black-40);
  } */
}



@media only screen and (min-width: 992px) {

  .welcome-screen__image {
    max-height: 38vh;
    margin-right: 2rem;
  }

  .welcome-screen__container {
    margin-right: 1vw;
    min-width: 30vh;
    justify-content: space-around;
  }

  .welcome-screen__title {
    font-size: 56px;
  }
}

/* || ONLY FOR MOBILE SCREENS*/

@media only screen and (max-width: 768px) {

  .game__answer::before,
  .game__answer::after,
  .progress-bar-item::before,
  .progress-bar-item::after {
    content: '';
    position: absolute;
    top: 49.6%;
    height: 1px;
    border-top: 1px solid var(--Black-40);
    transform: translateY(0px);
  }

  .game__answer::before,
  .progress-bar-item::before {
    left: -100%;
    width: 100%;
  }

  .game__answer::after,
  .progress-bar-item::after {
    right: -226%;
    width: 200%;
  }

}