
* {
  margin: 0px;
  font-family: "Inter", sans-serif;
  color: var(--Black-100)
}

  
//flex-flow: column-reverse;

// || Color CONSTS
#root {
  --Orange-120: #E87928;
  --Orange-100: #FF8B37;
  --Green-100: #47D867;
  --Red-100: #EC6259;
  --Black-100: #1C1C21;
  --Black-40: #D0D0D8;
  --Orange-80: #FFAC70;
  --Orange-5: #FFF3EB;
  --Green-5: #E6FAEA;
  -- Red-5: #FDEEED;
  --Black-5: #F5F5F7;
  --White-100: #FFFFFF
}



/* .diagonal-split-background {
  width: 100vw;
  height: 100vh;
  background-color: var(--White-100);
  background-image: -webkit-linear-gradient(
    -45deg,
    --main_color 50%,
    var(--Orange-5) 50%
  );
} */

.diagonally-split-background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right bottom, #FFF 50%, #FFF3EB 50.3%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-flow: column;
}

.hand {
  max-width: 35%;
  position: absolute;
  margin-left: -44vw;
}
.button_orange {
  background: #FF8B37;
  border-radius: 12px;
  font-weight: 600;
  font-size: 20px;
  line-height: 116%;
  color: #FFF;
  }

  //! btns
/* .diagonal-split-background::before { 
  content: '';
  position: absolute;
  left: -50%;
  width: 100%; 
  height: 100%; 
  background-color: rgb(255, 255, 255); //fallback
  background-color: rgba(255, 255, 255, 0.5);
  top: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
  } */

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 50vw;
  flex-flow: column;
}

.headline {
  font-size: 32px;
  line-height: 116%;
  font-weight: 600;

}

h3 {
  font-size: calc(1.5em + 3vw);
  margin: -2em 0 2em;
  text-align: center;
  line-height: 1.3em;
}

.btn_polygon {
  border-radius: 4px;
  clip-path: polygon(25% 0%, 100% 55%, 100% 100%, 25% 100%, 0% 50%);
  color: red;
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid red;
}

.card figure {
  flex-flow: column-reverse;
}

.card p {
  margin-top: 1rem;
}

.card {
  width: min(100%, 400px);
}

/* || XS */
@media screen and (min-width: 475px) {
  .hand {
    max-width: 29%;
    transform: translateY(-65px);
    margin: auto;
  }
}

/* || SMALL */
@media screen and (min-width: 575px) {
  .hand {
    max-width: 29%;
    transform: translateY(-70px);
  }
}

/* || MEDIUM */
@media screen and (min-width: 768px) {
  .hand {
    max-width: 29%;
    margin: auto;
    transform: translateY(-80px);
  }

  .headline {
    font-size: 56px;
    max-width:40vw;
  }
}

/* || LARGE */
@media screen and (min-width: 992px) {
  .hand {
    max-width: 35%;
    transform: translateX(-250px);
  }
  
}

/* || XL  */
@media screen and (min-width: 1200px) {
  .hand {
    max-width: 29%;
    transform: translateX(-230px);
  }
}

/* || XXL  */
@media screen and (min-width: 1400px) {
  .hand {
    max-width: 35%;
    transform: translateX(-250px);
  }

  .card {
    width: min(calc(33% - 0.25rem), 200px);
  }
}
